.Notifications {
  border: 2px dashed #e4384f;
  padding-left: 5px;
  padding-top: 0;
  padding-bottom: 10px;
}

.Notifications p,
.Notifications ul {
  font-size: 1.2em;
  font-family: "Times New Roman", Times, serif;
}

[data-notification-type="default"] {
  color: blue;
}

[data-urgent],
[data-notification-type="urgent"] {
  color: red;
}
